<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CHiNAR Restoranında baş verən hadisələr haqqında məlumat əldə edin">
    <link rel="stylesheet" href="static/css/az_fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/respons.css">
    <!-- FAV ICON -->
    <link rel="icon" type="image/x-icon" href="static/img/static/fav-icon.png">
    <title>Tədbirlər CHiNAR Restaurant</title>
</head>
<body class="page_hide">
    <style>
        .page_hide {
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease 0s;
        }

        .page_show {
            visibility: visible;
            opacity: 1;
            transition: all 2s ease 0s;
        }
    </style>
    
    <!-- HEADER -->
    <header>
        <div class="header_wrapper">
            <div class="header_left_side">
                <a href="/index_az"><img class="hide" src="static/img/static/Logo.webp" alt="Chinar Restaurant Logo"></a>
            </div>
            <div class="header_middle_side">
                <ul>
                    <li><a href="/about_us_az">HAQQIMIZDA</a></li>
                    <li><a href="/menu_az">MENYU</a></li>
                    <li><a href="/events_az">TƏDBİRLƏR</a></li>
                    <li><a href="/gallery_az">QALEREYA</a></li>
                    <li><a href="/contacts_az">ƏLAQƏ</a></li>
                </ul>
            </div>
            <div class="header_right_side">
                <div class="menu-btn-6" onclick="menuBtnFunction(this)">
                    <span></span>                
                </div>
                <div class="lang_menu">
                    <div class="lang_btn">
                        <p>AZ</p>
                        <img src="static/img/static/down_arrow.svg" alt="Chinar Language Arrow">
                    </div>
                </div>
            </div>
            <div class="lang_menu_sel">
                <a href="/events">EN</a>
                <!-- <a href="#">RU</a> -->
            </div>
        </div>
    </header>
    <div class="header_menu">
        <ul>
            <li><a href="/index_az">ƏSAS SƏHİFƏ</a></li>
            <li><a href="/about_us_az">HAQQIMIZDA</a></li>
            <li><a href="/menu_az">MENYU</a></li>
            <li><a href="/events_az">TƏDBİRLƏR</a></li>
            <li><a href="/gallery_az">QALEREYA</a></li>
            <li><a href="/contacts_az">ƏLAQƏ</a></li>
            <li><a href="/events">EN</a></li>
            <!-- <li><a href="#">RU</a></li> -->
        </ul>
    </div>
    <!-- HEADER END -->

    <!-- EVENTS PREVIEW SECTION -->
    <div class="events_preview_wrapper">
        <div class="events_preview">
            <img src="static/img/events_page/preview_bg.png" alt="">
            <div class="prev_cont_wrapper">
                <div class="prev_cont">
                    <div class="prev_cont_title">
                        <h1>ŞƏXSİ TƏDBİRLƏR</h1>  
                    </div>
                    <div class="prev_cont_desc">
                        <p>
                            CH<span class="lower_case">i</span>NAR tədbirlər və böyük qruplar üçün diqqətlə seçilmiş qastronomik təcrübələr və müxtəlif menyu seçimləri təklif edir.
                        </p>
                    </div>
                    <div class="prev_cont_btn">
                        <a href="#event_form"><button>MÜRACİƏT EDİN</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EVENT ROW SECTION -->
    <div class="events_row_wrapper">
        {% for event in events %}
        <div class="events_row">
            <div class="events_row_bg">
                <img src="static/img/events_page/{{event.image}}" alt="">
            </div>
            <div class="events_row_content">
                <div class="events_row_title">
                    <h2>
                        {{ event.az_title }}
                    </h2>
                </div>
                <div class="events_row_desc">
                    <p>
                        {{ event.az_content }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- EVENT FORM SECTION -->

    <div class="event_form_wrapper" id="event_form">
        <div class="event_form_title">
            <h2>
                <!-- MAKE YOUR EVENT EXTRAORDINARY WITH CH<span class="lower_case">i</span>NAR -->
                CH<span class="lower_case">i</span>NAR - la tədbirinizi qeyri-adi edin
            </h2>
        </div>
        <div class="event_form_desc">
            <p>
                <!-- For private event enquiries, call our dedicated team on <a href="tel:+994514048211" class="gold_color">+994 51 404 82 11</a> or fill out the form below. -->
                Qapalı tədbirlə bağlı sorğular üçün <a href="tel:+994514048211" class="gold_color">+994 51 404 82 11</a> nömrəsinə zəng edin və ya aşağıdakı formanı doldurun.
            </p>
        </div>
        <div class="event_form_note">
            <p>
                Zəhmət olmasa, bütün tələb olunan məlumatları daxil edin:*
            </p>
        </div>
        <div class="event_form">
            <form action="/form/submission" method="POST" id="events_form">
                <div class="form_input_row">
                    <div class="input_preference">
                        <label for="name">Ad*</label>
                        <input type="text" name="name">
                    </div>
                    <div class="input_preference">
                        <label for="phone">Əlaqə nömrəsi*</label>
                        <input type="text" name="phone">
                    </div>
                </div>
                <div class="form_input_row">
                    <div class="input_preference">
                        <label for="email">E-poçt*</label>
                        <input type="text" name="email">
                    </div>
                    <div class="input_preference">
                        <label for="group">Qonaqların sayı*</label>
                        <input type="text" name="group">
                    </div>
                </div>
                <div class="form_single_input">
                    <label for="details">Tədbirin təfərrüatları*</label>
                    <!-- <input type="text" name="details"> -->
                    <textarea name="details" id="events_form"></textarea>
                </div>
                <div class="form_btn">
                    <button type="submit">SORĞU GÖNDƏRİN</button>
                </div>
            </form>
        </div>
    </div>

    <!-- FOOTER SECTION -->
    <footer>
        <div class="footer_wrapper">
            <div class="footer_left_side">
                <a href="/index"><img src="static/img/static/Logo.webp" alt=""></a>
            </div>
            <div class="footer_right_side">
                <div class="footer_block">
                    <div class="footer_elem_title">
                        <h3>ÜNVAN:</h3>
                        <br>
                        <a href="https://maps.app.goo.gl/Vsk5XZ7RQjWQPXj96" target="_blank">Şövkət Ələkbərova küç.1, Bakı, Azərbaycan</a>
                        <br>
                        <br>
                        <h3>ƏLAQƏ NÖMRƏSİ:</h3>
                        <br>
                        <a href="tel:+994124048211" target="_blank">+994 51 404 82 11</a>
                        <br>
                        <br>
                        <h3>E-MAIL:</h3>
                        <br>
                        <a href="mailto:" target="_blank">reservations@chinar-dining.az</a>
                    </div>
                    <br>
                    <br>
                    <div class="media_links">
                        <a href="https://www.instagram.com/chinardining/" class="insta_icon"><img src="static/img/static/insta.webp" alt=""></a>
                        <a href="https://www.facebook.com/CHINARBAKU/"><img src="static/img/static/face.webp" alt=""></a>
                    </div>
                </div>
                <div class="footer_block">
                    <div class="footer_elem_title">
                        <h3>İŞ SAATLARI:</h3>
                        <br>
                        <p>
                            Bazar ertəsi, çərşənbə axşamı, çərşənbə, cümə axşamı, bazar günləri saat 12:00 - 01:00
                        </p>
                        <br>
                        <br>
                        <p>
                            Cümə, şənbə saat 12:00 - 02:00
                        </p>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="lower_footer">
        <p>
            CH<span class="lower_case">i</span>NAR Restaurant 2024 © All rights reserved.
        </p>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
</body>
</html>