<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="CHiNAR Restoranının qalereyasını kəşf edin" />
  <link rel="stylesheet" href="static/css/az_fonts.css">
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="static/css/respons.css" />
  <!-- FAV ICON -->
  <link rel="icon" type="image/x-icon" href="static/img/static/fav-icon.png" />
  <title>Gallery CHiNAR Restaurant</title>
</head>

<body class="page_hide">
  <style>
    .page_hide {
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease 0s;
    }

    .page_show {
      visibility: visible;
      opacity: 1;
      transition: all 2s ease 0s;
    }
  </style>

  <!-- HEADER -->
  <header>
    <div class="header_wrapper">
      <div class="header_left_side">
        <a href="/index_az"><img class="hide" src="static/img/static/Logo.webp" alt="Chinar Restaurant Logo"></a>
      </div>
      <div class="header_middle_side">
        <ul>
          <li><a href="/about_us_az">HAQQIMIZDA</a></li>
          <li><a href="/menu_az">MENYU</a></li>
          <li><a href="/events_az">TƏDBİRLƏR</a></li>
          <li><a href="/gallery_az">QALEREYA</a></li>
          <li><a href="/contacts_az">ƏLAQƏ</a></li>
        </ul>
      </div>
      <div class="header_right_side">
        <div class="menu-btn-6" onclick="menuBtnFunction(this)">
          <span></span>
        </div>
        <div class="lang_menu">
          <div class="lang_btn">
            <p>AZ</p>
            <img src="static/img/static/down_arrow.svg" alt="Chinar Language Arrow">
          </div>
        </div>
      </div>
      <div class="lang_menu_sel">
        <a href="/gallery">EN</a>
        <!-- <a href="#">RU</a> -->
      </div>
    </div>
  </header>
  <div class="header_menu">
    <ul>
      <li><a href="/index_az">ƏSAS SƏHİFƏ</a></li>
      <li><a href="/about_us_az">HAQQIMIZDA</a></li>
      <li><a href="/menu_az">MENYU</a></li>
      <li><a href="/events_az">TƏDBİRLƏR</a></li>
      <li><a href="/gallery_az">QALEREYA</a></li>
      <li><a href="/contacts_az">ƏLAQƏ</a></li>
      <li><a href="/gallery">EN</a></li>
      <!-- <li><a href="#">RU</a></li> -->
    </ul>
  </div>
  <!-- HEADER END -->

  <div class="plav">
    <!-- Gallery Preview Section -->
    <div class="gallery_preview">
      <div class="gallery_title">
        <h1>GALLERY</h1>
      </div>
    </div>

    <div class="gallery_content_wrapper plav">
      <div class="grid-container">
        <div class="column">
          <img src="static/img/gallery_page/gal_1_1.png" />

          <img src="static/img/gallery_page/gal_1_2.png" />

          <img src="static/img/gallery_page/gal_1_3.png" />

          <img src="static/img/gallery_page/gal_1_4.jpg">

          <img src="static/img/gallery_page/gal_1_5.jpg">
        </div>

        <div class="column">
          <img src="static/img/gallery_page/gal_2_1.png" />

          <img src="static/img/gallery_page/gal_2_2.png" />

          <img src="static/img/gallery_page/gal_2_3.png" />

          <img src="static/img/gallery_page/gal_2_4.jpg">

          <img src="static/img/gallery_page/gal_2_5.jpg">
        </div>

        <div class="column">
          <img src="static/img/gallery_page/gal_3_1.png" />

          <img src="static/img/gallery_page/gal_3_2.png" />

          <img src="static/img/gallery_page/gal_3_3.png" />

          <img src="static/img/gallery_page/gal_3_4.jpg">

          <img src="static/img/gallery_page/gal_3_5.jpg">
        </div>

        <div class="column">
          <img src="static/img/gallery_page/gal_4_1.png" />

          <img src="static/img/gallery_page/gal_4_2.png" />

          <img src="static/img/gallery_page/gal_4_3.png" />

          <img src="static/img/gallery_page/gal_4_4.jpg">

          <img src="static/img/gallery_page/gal_4_5.jpg">
        </div>
      </div>
    </div>

    <!-- Join Us Section -->

    <div class="join_us_wrapper">
      <div class="join_us">
        <div class="join_us_title">
          <h1>BİZİ İZLƏYİN</h1>
        </div>
        <div class="join_us_desc">
          <p>
            Instagram-da CH<span class="lower_case">i</span>NAR-ın kulinariya sehrini kəşf edin: mükəmməl yeməklər, unikal ab-hava və unudulmaz anlar sizi gözləyir.
          </p>
        </div>
        <div class="join_us_btn">
          <a href="https://www.instagram.com/chinardining/" target="_blank"><button>ƏTRAFLI</button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER SECTION -->
  <footer>
    <div class="footer_wrapper">
      <div class="footer_left_side">
        <a href="/index"><img src="static/img/static/Logo.webp" alt=""></a>
      </div>
      <div class="footer_right_side">
        <div class="footer_block">
          <div class="footer_elem_title">
            <h3>ÜNVAN:</h3>
            <br>
            <a href="https://maps.app.goo.gl/Vsk5XZ7RQjWQPXj96" target="_blank">Şövkət Ələkbərova küç.1, Bakı,
              Azərbaycan</a>
            <br>
            <br>
            <h3>ƏLAQƏ NÖMRƏSİ:</h3>
            <br>
            <a href="tel:+994124048211" target="_blank">+994 12 404 82 11</a>
            <br>
            <br>
            <h3>E-MAIL:</h3>
            <br>
            <a href="mailto:" target="_blank">reservations@chinar-dining.az</a>
          </div>
          <br>
          <br>
          <div class="media_links">
            <a href="https://www.instagram.com/chinardining/" class="insta_icon"><img src="static/img/static/insta.webp"
                alt=""></a>
            <a href="https://www.facebook.com/CHINARBAKU/"><img src="static/img/static/face.webp" alt=""></a>
          </div>
        </div>
        <div class="footer_block">
            <div class="footer_elem_title">
              <h3>İŞ SAATLARI:</h3>
              <br>
              <p>
                  Bazar ertəsi, çərşənbə axşamı, çərşənbə, cümə axşamı, bazar günləri saat 12:00 - 01:00
              </p>
              <br>
              <br>
              <p>
                  Cümə, şənbə saat 12:00 - 02:00
              </p>
              <br>
              <br>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="lower_footer">
    <p>
      CH<span class="lower_case">i</span>NAR Restaurant 2024 © All rights reserved.
    </p>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
    integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
  <script src="static/js/script.js"></script>
</body>

</html>