<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CHiNAR Bakıda Pan-Asiya mətbəxi restoranıdır. Müasir Asiya ləzzətlərinin kulinariya mükəmməlliyi ilə görüşdüyü yer olan CHiNAR-ı yenidən kəşf etməyin vaxtıdır.">
    <link rel="stylesheet" href="static/css/az_fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/respons.css">
    <!-- FAV ICON -->
    <link rel="icon" type="image/x-icon" href="static/img/static/fav-icon.png">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CHiNAR Restaurant</title>
</head>
<body class="page_hide">
    <style>
        .hide {
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease 0s;
        }
        
        .show {
            visibility: visible;
            opacity: 1;
            transition: all 0.3s ease 0s;
        }

        .page_hide {
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease 0s;
        }

        .page_show {
            visibility: visible;
            opacity: 1;
            transition: all 2s ease 0s;
        }
    </style>
    
    <!-- HEADER -->
    <header>
        <div class="header_wrapper">
            <div class="header_left_side">
                <a href="/index_az"><img class="hide" src="static/img/static/Logo.webp" alt="Chinar Restaurant Logo"></a>
            </div>
            <div class="header_middle_side">
                <ul>
                    <li><a href="/about_us_az">HAQQIMIZDA</a></li>
                    <li><a href="/menu_az">MENYU</a></li>
                    <li><a href="/events_az">TƏDBİRLƏR</a></li>
                    <li><a href="/gallery_az">QALEREYA</a></li>
                    <li><a href="/contacts_az">ƏLAQƏ</a></li>
                </ul>
            </div>
            <div class="header_right_side">
                <div class="menu-btn-6" onclick="menuBtnFunction(this)">
                    <span></span>                
                </div>
                <div class="lang_menu">
                    <div class="lang_btn">
                        <p>AZ</p>
                        <img src="static/img/static/down_arrow.svg" alt="Chinar Language Arrow">
                    </div>
                </div>
            </div>
            <div class="lang_menu_sel">
                <a href="/index">EN</a>
                <!-- <a href="#">RU</a> -->
            </div>
        </div>
    </header>
    <div class="header_menu">
        <ul>
            <li><a href="/index_az">ƏSAS SƏHİFƏ</a></li>
            <li><a href="/about_us_az">HAQQIMIZDA</a></li>
            <li><a href="/menu_az">MENYU</a></li>
            <li><a href="/events_az">TƏDBİRLƏR</a></li>
            <li><a href="/gallery_az">QALEREYA</a></li>
            <li><a href="/contacts_az">ƏLAQƏ</a></li>
            <li><a href="/index">EN</a></li>
            <!-- <li><a href="#">RU</a></li> -->
        </ul>
    </div>
    <!-- HEADER END -->
    
    <!-- PREVIEW SECTION -->
    <div class="preview_section_wrapper">
        <div class="green_element_wrapper">
            <img src="static/img/main_page/green_element.png" alt="">
        </div>
        <div class="preview_section">
            <div class="preview_cont_wrapper">
                <div class="preview_cont">
                    <div class="preview_logo">
                        <img src="static/img/static/Logo.webp" alt="">
                    </div>
                    <div class="preview_title">
                        <h1>
                            YAXIN VƏ UZAQ ŞƏRQİN<br>
                            TƏCRÜBƏSİ
                        </h1>
                    </div>
                    <div class="preview_butn">
                        <a href="/contacts"><button>REZERVASİYA</button></a>
                    </div>
                </div>
            </div>
            <div class="preview_arrow">
                <a href="#ab_main">
                    <!-- this should be done with PUG -->
                    <div class="badge c-black" id="badge">
                        <span class="badge__char">D</span>		
                        <span class="badge__char">O</span>		
                        <span class="badge__char">W</span>		
                        <span class="badge__char">N</span>	
                        <span class="badge__char">-</span>
                        <span class="badge__char">S</span>
                        <span class="badge__char">C</span>
                        <span class="badge__char">R</span>
                        <span class="badge__char">O</span>
                        <span class="badge__char">L</span>	
                        <span class="badge__char">L</span>	
                        <span class="badge__char">-</span>

                        <img class="badge__emoji" src="static/img/static/croll_down.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- ab_main_section -->

    <div class="ab_main_wrapper">
        <div class="ab_main" id="ab_main">
            <div class="ab_main_left">
                <div class="ab_main_cont">
                    <div class="ab_main_title">
                        <h2>
                            MÜASİR PAN-ASİYA MƏTBƏXİ
                        </h2>
                    </div>
                    <div class="ab_main_desc">
                        <p>
                            Pan-Asiya müxtəlif Asiya ölkələrinin: Yaponiya, Tayland, Sinqapur, Malayziya, Çin və başqalarının kulinariya ənənələrini birləşdirən mətbəxdir. CHiNAR  Bakıda fusion mətbəxinin dadını hiss edə biləcəyiniz unikal məkandır.
                        </p>
                    </div>
                    <div class="ab_main_link">
                        <a href="/about_us_az">Ətraflı</a>
                    </div>
                </div>
            </div>
            <div class="ab_main_right">
                <img src="static/img/main_page/pan-asian.png" alt="">
            </div>
        </div>
    </div>
    
    <!-- SECOND AB -->

    <div class="ab_main_wrapper">
        <div class="ab_main ab_right_text_wrapper">
            <div class="ab_main_left">
                <img src="static/img/main_page/symph_of_flavours.png" alt="">
            </div>
            <div class="ab_main_right ab_right_text">
                <div class="ab_main_cont">
                    <div class="ab_main_title">
                        <h2>
                            LƏZZƏTLƏRİN SİMFONİYASI
                        </h2>
                    </div>
                    <div class="ab_main_desc">
                        <p>
                            CH<span class="lower_case">i</span>NAR yeməklərin ən yüksək keyfiyyətinə zəmanət vermək üçün etibarlı təchizatçılardan inqrediyentlər seçir və onları müasir, innovativ kulinariya metodları ilə birləşdirir.
                        </p>
                    </div>
                    <div class="ab_main_link">
                        <a href="/menu_az">Menyu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- THIRD AB -->

    <div class="ab_main_wrapper">
        <div class="ab_main">
            <div class="ab_main_left">
                <div class="ab_main_cont">
                    <div class="ab_main_title">
                        <h2>
                            ORİJİNAL VƏ ZƏRİF KOKTEYLLƏR
                        </h2>
                    </div>
                    <div class="ab_main_desc">
                        <p>
                            <!-- Fərqli və mürəkkəb kokteyllər kolleksiyamızla miksoloqlarımızın bacarıqlarını hiss edin. Hər bir içki hissləri ləzzətləndirmək üçün nəzərdə tutulmuşdur, unikal ləzzətləri və yüksək keyfiyyətli inqrediyentləri birləşdirərək başqa heç kimi olmayan bir içki təcrübəsi yaradır. -->
                            <!-- Fərqli və mürəkkəb kokteyllər kolleksiyamızla miksoloqlarımızın bacarıqlarını hiss edin. Hər bir içki hissləri həzz almaq üçün nəzərdə tutulmuşdur, unikal ləzzətləri və yüksək keyfiyyətli inqrediyentləri birləşdirərək özünəməxsus bir içki təcrübəsi yaradır. -->
                            Miksoloqlarımızın sənətini fərqli və zərif kokteyllərimizlə kəşf edin. Hər bir içki duyğularınızı heyran etmək üçün hazırlanmışdır. Unikal dadlar və yüksək keyfiyyətli inqrediyentlər bir araya gələrək misilsiz bir içki təcrübəsi yaradır. İmza kokteyllərimizdən eksklüziv təkliflərimizə qədər, hər qurtum yenilik və incəliyi əks etdirir, CHiNAR hər ziyarəti dad və zəriflik səyahətinə çevirir.
                        </p>
                    </div>
                    <div class="ab_main_link">
                        <a href="/menu_az">Menyu</a>
                    </div>
                </div>
            </div>
            <div class="ab_main_right">
                <img src="static/img/main_page/exclusive_list.jpg" alt="">
            </div>
        </div>
    </div>

    <!-- CHIEF SECTION -->

    <div class="chief_section_wrapper">
        <div class="chief_section">
            <div class="chief_section_left">
                <img src="static/img/main_page/chief_section.png" alt="Gokhan Ozkol">
            </div>
            <div class="chief_section_right">
                <div class="chief_content_wrapper">
                    <div class="chief_desc">
                        <div class="chief_quote">
                            <img src="static/img/static/quotes.webp" alt="">
                        </div>
                        <div class="chief_text">
                            <p>
                                Yüksək yeməklər dünyasında müstəsna yeməyİn açarı sadəcə bacarıq deyİl, dərİn araşdırma və sarsılmaz səbrin birləşməsidir. Mənİm fəlsəfəm həmişə geniş araşdırmalar aparmaq və yalnız ən yaxşısına qərar vermək olub.
                            </p>
                        </div>
                    </div>
                    <div class="chief_name">
                        <div class="chief_name_cont">
                            <div class="chief_name_title">
                                <p>BAŞ AŞPAZ</p>
                            </div>
                            <div class="chief_name_text">
                                <p>Gökan Özkol</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MAIN PAGE SLIDER SECTION -->
    <!-- Set up your HTML -->
    <div class="main_page_slider">
        <div class="owl-carousel owl-theme">
            <div class="first_slide slide_item">
                <div class="slider_text">
                    <p>
                        CH<span class="lower_case">i</span>NAR onilliklər ərzində Bakının məşhur görkəmli görüş yerinə çüvrilmişdir. Bu gün CH<span class="lower_case">i</span>NAR dünyanın ən yaxşılarından olan yemək və əyləncə seçimlərinin geniş çeşidini təklif edir.
                    </p>
                </div>
            </div>
            <div class="second_slide slide_item">
                <div class="slider_text">
                    <p>
                        CH<span class="lower_case">i</span>NAR-ın qorxulu əjdahanı əsarət altına alan mifik Azərbaycan qəhrəmanı Bəhram Gurdan ilhamlanıb. Həmçinin CH<span class="lower_case">i</span>NARIN yaxınlığında bu qəhrəmanın abidəsi var.
                    </p>
                </div>
            </div>
            <div class="third_slide slide_item">
                <div class="slider_text">
                    <p>
                        CH<span class="lower_case">i</span>NAR əvvəlcə çinar ağaclarının olduğu bağın altındakı çay evi idi və indi isə müasir memarlığın möhtəşəm əsəri kimi yenidən doğulmuşdur.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- FOURTH AB -->

    <div class="ab_main_wrapper">
        <div class="ab_main">
            <div class="ab_main_left">
                <div class="ab_main_cont">
                    <div class="ab_main_title">
                        <h2>
                            CH<span class="lower_case">i</span>NAR HARMONİYASI
                        </h2>
                    </div>
                    <div class="ab_main_desc">
                        <p>
                            Restoranımız atmosferi daha da xoş edəcək xüsusi seçilmiş pleylistlərə malikdir. Hər bir seçim yemək təcrübənizi tamamlamaq üçün düşünülmüş şəkildə seçilir, mürəkkəb və cəlbedici atmosfer yaradır.
                        </p>
                    </div>
                    <div class="ab_main_link">
                        <a href="https://soundcloud.com/chinarbaku?ref=clipboard&p=i&c=0&si=9BADAD3B985743F68856CEDE5ED86013&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">Pleylistimiz</a>
                    </div>
                </div>
            </div>
            <div class="ab_main_right">
                <img src="static/img/main_page/soundChinar.jpg" alt="">
            </div>
        </div>
    </div>

    <!-- EVENTS SECTION FOURTH AB -->

    <div class="ab_main_wrapper" style="margin-bottom: 200px;">
        <div class="ab_main ab_right_text_wrapper">
            <div class="ab_main_left">
                <img src="static/img/main_page/private_event_magic.png" alt="">
            </div>
            <div class="ab_main_right ab_right_text">
                <div class="ab_main_cont">
                    <div class="ab_main_title">
                        <h2>                
                            ÖZƏL TƏDBİRLƏRİN MÖCÜZƏSİ
                        </h2>
                    </div>
                    <div class="ab_main_desc">
                        <p>
                            <!-- Eksklüziv özəl tədbirlərimizdə özünüzü unudulmaz təcrübələrə qərq edin. Xüsusi məclislərdən tutmuş möhtəşəm bayramlara qədər biz gözləntiləri daha da sehrli anlar yaratmaqda ixtisaslaşırıq. -->
                            Özəl tədbirlərinizlə unudulmaz təcrübəyə qərq olun. Xüsusi məclisləriniz üçün gözləntilərin üzərində olan sehrli anların hazırlanmasında ixtisaslaşırıq. Komandamız avtor kokteyllərdən və gurme mətbəxindən tutmuş və zərif atmosferə qədər hər bir detalın mükəmməl olmasını təmin edir. Hər hadisənin xüsusi bayrama çevrildiyi tədbirlərinizin sehrini bizimlə kəşf edin!
                        </p>
                    </div>
                    <div class="ab_main_link ab_host_btn">
                        <a href="/events_az"><button>TƏDBİRİNİZİ KEÇİRİN</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- FOOTER SECTION -->
    <footer>
        <div class="footer_wrapper">
            <div class="footer_left_side">
                <a href="/index"><img src="static/img/static/Logo.webp" alt=""></a>
            </div>
            <div class="footer_right_side">
                <div class="footer_block">
                    <div class="footer_elem_title">
                        <h3>ÜNVAN:</h3>
                        <br>
                        <a href="https://maps.app.goo.gl/Vsk5XZ7RQjWQPXj96" target="_blank">Şövkət Ələkbərova küç.1, Bakı, Azərbaycan</a>
                        <br>
                        <br>
                        <h3>ƏLAQƏ NÖMRƏSİ:</h3>
                        <br>
                        <a href="tel:+994124048211" target="_blank">+994 12 404 82 11</a>
                        <br>
                        <br>
                        <h3>E-MAIL:</h3>
                        <br>
                        <a href="mailto:" target="_blank">reservations@chinar-dining.az</a>
                    </div>
                    <br>
                    <br>
                    <div class="media_links">
                        <a href="https://www.instagram.com/chinardining/" class="insta_icon"><img src="static/img/static/insta.webp" alt=""></a>
                        <a href="https://www.facebook.com/CHINARBAKU/"><img src="static/img/static/face.webp" alt=""></a>
                    </div>
                </div>
                <div class="footer_block">
                    <div class="footer_elem_title">
                        <h3>İŞ SAATLARI:</h3>
                        <br>
                        <p>
                            Bazar ertəsi, çərşənbə axşamı, çərşənbə, cümə axşamı, bazar günləri saat 12:00 - 01:00
                        </p>
                        <br>
                        <br>
                        <p>
                            Cümə, şənbə saat 12:00 - 02:00
                        </p>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="lower_footer">
        <p>
            CH<span class="lower_case">i</span>NAR Restaurant 2024 © All rights reserved.
        </p>
    </div>

    

    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
    <!-- HEADER VISIBILITY ANIMATION -->
    <script>
        // Header visibility on scroll
        $(window).scroll(function () { 
            if ($(this).scrollTop() > 150) {
                // $('.header_left_side a img').hide();
                $('.header_left_side a img').addClass("show");
                $('.header_left_side a img').removeClass("hide");
            } else {
                // $('.header_left_side a img').show();
                $('.header_left_side a img').addClass("hide");
                $('.header_left_side a img').removeClass("show");
            }
        });
    </script>
    <!-- CIRCULAR TEXT ANIMATION -->
    <script>
        const element = document.querySelectorAll(".badge__char");
        const step = 360/element.length;

        element.forEach((elem, i) => {
        elem.style.setProperty('--char-rotate', (i * step) + 'deg');
        })

        const foo = (360 / 7);

        for (i = 0; i <= 7; i++) {
        console.log((i * foo) + 'deg');
        }
    </script>
    <!-- OWL CAROUSEL SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const prevIcon = '<img src="static/img/static/prev.webp" alt="">';
        const nextIcon = '<img src="static/img/static/next.webp" alt="">';

        $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
            items: 1,
            dots: false,
            nav: true,
            navText: [
                prevIcon,
                nextIcon
            ]
        });
        });
    </script>
</body>
</html>