<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Discover China's most popular dishes and drinks at CHiNAR Restaurant.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/respons.css">
    <!-- FAV ICON -->
    <link rel="icon" type="image/x-icon" href="static/img/static/fav-icon.png">
    <title>MENU CHiNAR Restaurant</title>
</head>
<body class="page_hide">
    <style>
        .page_hide {
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease 0s;
        }

        .page_show {
            visibility: visible;
            opacity: 1;
            transition: all 2s ease 0s;
        }
    </style>
    
    <!-- HEADER -->
    <header style="position: relative;">
        <div class="header_wrapper">
            <div class="header_left_side">
                <a href="/index"><img class="hide" src="static/img/static/Logo.webp" alt="Chinar Restaurant Logo"></a>
            </div>
            <div class="header_middle_side">
                <ul>
                    <li><a href="/about_us">ABOUT US</a></li>
                    <li><a href="/menu">MENU</a></li>
                    <li><a href="/events">EVENTS</a></li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li><a href="/contacts">CONTACTS</a></li>
                </ul>
            </div>
            <div class="header_right_side">
                <div class="menu-btn-6" onclick="menuBtnFunction(this)">
                    <span></span>
                </div>
                <div class="lang_menu">
                    <div class="lang_btn">
                        <p>EN</p>
                        <img src="static/img/static/down_arrow.svg" alt="Chinar Language Arrow">
                    </div>
                </div>
            </div>
            <div class="lang_menu_sel">
                <a href="/menu_az">AZ</a>
                <!-- <a href="#">RU</a> -->
            </div>
        </div>
    </header>
    <div class="header_menu">
        <ul>
            <li><a href="/index">HOME</a></li>
            <li><a href="/about_us">ABOUT US</a></li>
            <li><a href="/menu">MENU</a></li>
            <li><a href="/gallery">GALLERY</a></li>
            <li><a href="/events">EVENTS</a></li>
            <li><a href="/contacts">CONTACTS</a></li>
            <li><a href="/menu_az">AZ</a></li>
            <!-- <li><a href="#">RU</a></li> -->
        </ul>
    </div>
    <!-- HEADER END -->

    <!-- MENU PREVIEW -->
    <div class="menu_preview_wrapper">
        <div class="menu_preview">
            <div class="menu_preview_bg">
                <img src="static/img/menu_page/menu_bg.jpg" alt="">
            </div>
            <div class="menu_preview_content">
                <div class="menu_preview_title">
                    <h1>MENU</h1>
                </div>
                <div class="menu_preview_desc">
                    <p>
                        Our attentive staff are always ready to assist with any request, ensuring your visit is exceptional.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="menu_section_wrapper">
        <div class="menu_section">
            <div class="menu_navigation">
                <ul>
                    <li id="main_menu_link" class="active_link">MAIN MENU</li>
                    <li id="exclusive_link">EXCLUSIVE</li>
                    <li id="dessert_link">DESSERT</li>
                    <li id="bar_menu_link">BAR MENU</li>
                </ul>
            </div>
            <div class="menu_content_wrapper">

                <div class="menu_content main_menu">
                    <div class="menu_content_left">

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>APPETIZERS</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['appetizers'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>SALADS</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['salads'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>SOUPS</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['soups'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>JAPANESE RAMEN</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['japanese_ramen'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>POULTRY</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['poultry'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>VEGETERIAN</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['vegeterian'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>CH<span class="lower_case">i</span>NAR CURRIES</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['chinar currie'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu_content_right">
                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>SEAFOOD</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['seafood'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>MEAT</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['meat'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>RICE & NOODLES</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['rice & noodles'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>SUSHI ROLL</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['sushi roll'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>OSHI SUSHI</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['oshi sushi'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>Nigiri-55 gr. or Sashimi-50 gr.</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['nigiri-55 gr. or sashimi-50 gr.'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>CH<span class="lower_case">i</span>NAR TACOS</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu1['chinar taco'] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="menu_content exclusive_menu">
                    <div class="menu_content_left">
                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>EXCLUSIVE MENU</h2>
                                <br>
                                <span class="by_text">By Gokhan Ozkol & His Team</span>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu2_first_half %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu_content_right">
                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu2_second_half %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="menu_content dessert_menu">
                    <div class="menu_content_left">
                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>DESSERT MENU</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu3_first_half %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="menu_content_right">
                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu3_second_half %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="menu_content bar_menu">
                    <div class="menu_content_left">
                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>CH<span class="lower_case">i</span>NAR SIGNATURE</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["chinar signature"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>LONG AND STRONG</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["long and strong"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>CH<span class="lower_case">i</span>NAR HERITAGE</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["chinar heritage"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>VIRGIN AND BUBBLY</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["virgin and bubbly"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>SAKE</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["sake"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>GIN, 40 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["gin 40 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>TEQUILA, 40 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["tequila 40 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION LEFT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>SCOTCH AND IRISH WHISKY, 40 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["scotch and irish whisky, 40 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="menu_content_right">
                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>SHOKUZEN</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["shokuzen"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>TWISTED CLASSICS</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["twisted classics"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>ICED TEAS, 250 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["iced teas, 250 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>LEMONADES, 200 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["lemonades, 200 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>VERMOUTH, 40 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["vermouth 40 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>VODKA, 40 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["vodka, 40 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>RUM, 40 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["rum, 40 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>LIQUEURS, 40 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["liqueurs, 40 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>BEER</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["beer"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <!-- MENU ITEM SEPARATION RIGHT -->

                        <div class="menu_item">
                            <div class="menu_item_title">
                                <h2>AMERICAN WHISKEY, 40 ML</h2>
                            </div>
                            <div class="menu_item_cont">
                                <ul>
                                    {% for item in menu4["american whiskey, 40 ml"] %}
                                    <li>
                                        <span>{{ item['en_title'] }}</span><span>{{ item['price'] }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER SECTION -->
    <footer>
        <div class="footer_wrapper">
            <div class="footer_left_side">
                <a href="/index"><img src="static/img/static/Logo.webp" alt=""></a>
            </div>
            <div class="footer_right_side">
                <div class="footer_block">
                    <div class="footer_elem_title">
                        <h3>ADRESS:</h3>
                        <br>
                        <a href="https://maps.app.goo.gl/Vsk5XZ7RQjWQPXj96" target="_blank">Shovket Alakbarova Str.1, Baku, Azerbaijan</a>
                        <br>
                        <br>
                        <h3>PHONE:</h3>
                        <br>
                        <a href="tel:+994124048211" target="_blank">+994 51 404 82 11</a>
                        <br>
                        <br>
                        <h3>E-MAIL:</h3>
                        <br>
                        <a href="mailto:" target="_blank">reservations@chinar-dining.az</a>
                    </div>
                    <br>
                    <br>
                    <div class="media_links">
                        <a href="https://www.instagram.com/chinardining/" class="insta_icon"><img src="static/img/static/insta.webp" alt=""></a>
                        <a href="https://www.facebook.com/CHINARBAKU/"><img src="static/img/static/face.webp" alt=""></a>
                    </div>
                </div>
                <div class="footer_block">
                    <div class="footer_elem_title">
                        <h3>OPENING HOURS:</h3>
                        <br>
                        <p>
                            Monday, Tuesday, Wednesday, Thursday, Sunday from 12 pm to 1 am
                        </p>
                        <br>
                        <br>
                        <p>
                            Friday, Saturday from 12 pm to 2 am
                        </p>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="lower_footer">
        <p>
            CH<span class="lower_case">i</span>NAR Restaurant 2024 © All rights reserved.
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
    <script src="static/js/menu_script.js"></script>
</body>
</html>